.text-center{
    display : flex;
    padding-right: 5%;
}

h1{
    color : red;
    font-size: xx-large;
    font-family: Lucida Sans;
    font-style: italic;
    margin-left: 5%;
}

.text-planet{
    display : flex;
    padding-right: 5%;
 
}
.head-planet{
    margin-top: 5%;
}
.footer{
    border-top: 100%;
    border-bottom: 100%;
    border-style:solid;
    border-color: rgb(134, 127, 235);
    border-width: 100%;
    border-left: none;
    border-right: none;
    
}

.container{
    display: block;
}

body{
    background-color:rgb(4, 11, 91);
}

